/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/SpellingBee.css';

:root {
  --primary-accent-color: #8ecae6;
  --primary-base-color: #219ebc;
  --primary-highlight-color: #126782;
  --primary-contrast-color: #023047;

  --secondary-base-color: #ffb703;
  --secondary-accent-color: #fd9e02;
  --secondary-contrast-color: #fb8500;

  --background-base-color: white;
  --background-muted-color: rgb(229, 231, 235);
  --background-contrast-color: #023047;

  --text-base-color: rgb(0, 0, 0);
  --text-muted-color: rgb(148, 163, 184);
  /* slate-400 */
  --text-contrast-color: white;
}

.theme-light {
  --primary-accent-color: #8ecae6;
  --primary-base-color: #219ebc;
  --primary-highlight-color: #126782;
  --primary-contrast-color: #023047;

  --secondary-base-color: #ffb703;
  --secondary-accent-color: #fd9e02;
  --secondary-contrast-color: #fb8500;

  --background-base-color: white;
  --background-muted-color: #e8e8e8;
  --background-contrast-color: #023047;

  --text-base-color: rgb(0, 0, 0);
  /* black; */
  --text-muted-color: #94a3b8;
  /* slate-400 */
  --text-contrast-color: white;
}

.theme-test {
  --primary-accent-color: green;
  --primary-base-color: red;
  --primary-highlight-color: darkred;
  --primary-contrast-color: #023047;

  --secondary-base-color: #ffb703;
  --secondary-accent-color: #fd9e02;
  --secondary-contrast-color: #fb8500;

  --background-base-color: #fcefb4;
  --background-muted-color: #d4d4d4;
  --background-contrast-color: #023047;

  --text-base-color: rgb(0, 0, 0);
  --text-muted-color: #525c6a;
  /* slate-400 */
  --text-contrast-color: white;
}

.theme-dark {}

.input-box-transition {
  transition: all 0.2s ease;
}

.input-box-transition.shake {
  animation: shake 0.2s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-0.25rem);
  }

  50% {
    transform: translateX(0.25rem);
  }

  75% {
    transform: translateX(-0.25rem);
  }

  100% {
    transform: translateX(0);
  }
}