/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/SpellingBee.css';

:root {
  /* Root background for if you scroll past the edge of the page*/
  --root-bg: var(--background-base-color, black);

  --primary-accent-color: rgb(142, 202, 230);
  --primary-base-color: rgb(33, 158, 188);
  --primary-highlight-color: rgb(18, 103, 130);
  --primary-contrast-color: rgb(2, 48, 71);

  --secondary-base-color: rgb(255 183 3);
  --secondary-accent-color: rgb(253 158 2);
  --secondary-contrast-color: rgb(251 133 0);

  --background-base-color: white;
  --background-muted-color: rgb(229, 231, 235);
  --background-contrast-color: rgb(2, 48, 71);

  --success-color: rgb(16 185 129);
  --warning-color: rgb(251 191 36);
  --danger-color: rgb(213, 86, 86);

  --text-base-color: rgb(0, 0, 0);
  --text-muted-color: rgb(71, 85, 105);
  --text-dull-color: rgb(148, 163, 184);
  /* slate-400 */
  --text-light-color: white;
  --text-dark-color: black;
  --text-contrast-color: var(--background-base-color, white);

  --brd-muted-color: rgb(209, 213, 219);
  /** border */

  --letter-tile-color: rgb(233, 199, 155);
  --letter-tile-text-color: rgb(30, 41, 59);

  --connect-4-board-color: rgb(90, 169, 230);
  --connect-4-board-highlight-color: rgb(2, 48, 71);
  --connect-4-piece-yellow-color: rgb(255, 217, 125);
  --connect-4-piece-red-color: rgb(255, 104, 107);

  --gomoku-piece-black-color: black;
  --gomoku-piece-white-color: white;
  --gomoku-board-color: rgb(222, 184, 135);

  --othello-board-color: rgb(104, 165, 111);
  --othello-piece-black-color: black;
  --othello-piece-white-color: white;

  --checkers-board-light-color: rgb(240, 217, 181);
  --checkers-board-dark-color: rgb(181, 136, 99);

  --sea-battle-board-color: rgb(148, 222, 252);
  --sea-battle-ship-inner-color: rgb(107, 114, 128);
  --sea-battle-ship-base-color: rgb(31, 41, 55);
  --sea-battle-ship-border-color: black;

  --mancala-board-color: rgb(222, 184, 135);
  --mancala-pocket-color: rgb(188, 118, 61);

}

.theme-light-ocean-sun {
  --primary-accent-color: rgb(142, 202, 230);
  --primary-base-color: rgb(33, 158, 188);
  --primary-highlight-color: rgb(18, 103, 130);
  --primary-contrast-color: rgb(2, 48, 71);

  --secondary-base-color: rgb(255 183 3);
  --secondary-accent-color: rgb(253 158 2);
  --secondary-contrast-color: rgb(251 133 0);

  --background-base-color: white;
  --background-muted-color: rgb(232, 232, 232);
  --background-contrast-color: rgb(2, 48, 71);

  --danger-color: rgb(213, 86, 86);

  --text-base-color: rgb(0, 0, 0);
  --text-muted-color: rgb(71, 85, 105);
  --text-contrast-color: var(--background-base-color, white);
}

.theme-light-lavender-rose {
  --primary-accent-color: rgb(220, 201, 255);
  --primary-base-color: rgb(192, 164, 244);
  --primary-highlight-color: rgb(141, 118, 225);
  --primary-contrast-color: rgb(142, 115, 255);

  --secondary-base-color: rgb(255, 194, 226);
  --secondary-accent-color: rgb(255, 173, 199);
  --secondary-contrast-color: rgb(255, 153, 182);

  --brd-muted-color: rgb(210, 191, 222);

  --background-base-color: rgb(248, 236, 246);
  --background-muted-color: rgb(221, 219, 228);
  --background-contrast-color: rgb(27, 9, 97);

  --text-base-color: rgb(48, 25, 115);
  --text-muted-color: rgb(119, 99, 163);
  --text-dull-color: rgb(148, 163, 184);
  --text-light-color: white;
  --text-dark-color: black;
  --text-contrast-color: var(--background-base-color, white);
}

.theme-light-mint-leaf {
  --primary-accent-color: rgb(82, 183, 136);
  --primary-base-color: rgb(64, 145, 108);
  --primary-highlight-color: rgb(45, 106, 79);
  --primary-contrast-color: rgb(27, 67, 50);

  --secondary-base-color: rgb(142, 202, 230);
  --secondary-accent-color: rgb(95, 161, 191);
  --secondary-contrast-color: rgb(72, 141, 173);

  --brd-muted-color: rgb(180, 222, 186);

  --background-base-color: rgb(216, 243, 220);
  --background-muted-color: rgb(183, 228, 199);
  --background-contrast-color: rgb(8, 28, 21);
  --text-base-color: rgb(8, 28, 21);
  --text-muted-color: rgb(27, 67, 50);
  --text-dull-color: rgb(45, 106, 79);
  --text-light-color: white;
  --text-dark-color: black;
  --text-contrast-color: var(--background-base-color, white);
}

.theme-dark-ocean-moon {
  --primary-accent-color: rgb(6, 87, 127);
  --primary-base-color: rgb(39, 161, 198);
  --primary-highlight-color: rgb(66, 204, 239);
  --primary-contrast-color: rgb(142, 202, 230);

  --secondary-base-color: rgb(255 183 3);
  --secondary-accent-color: rgb(253 158 2);
  --secondary-contrast-color: rgb(251 133 0);

  --background-base-color: rgb(58, 54, 54);
  --background-muted-color: rgb(97, 91, 91);
  --background-contrast-color: white;

  --success-color: rgb(16 185 129);
  --warning-color: rgb(251 191 36);
  --danger-color: rgb(213, 86, 86);

  --text-base-color: white;
  --text-muted-color: rgb(148, 163, 184);
  --text-dull-color: rgb(103, 123, 150);
  --text-contrast-color: var(--background-contrast-color, black);

  --brd-muted-color: rgb(84, 78, 78);

  --connect-4-board-highlight-color: rgb(197, 225, 238);

  --sea-battle-ship-inner-color: rgb(31, 41, 55);
  --sea-battle-ship-base-color: rgb(107, 114, 128);
  --sea-battle-ship-border-color: rgb(129, 136, 150);
}

.theme-dark-golden-roast {
  --primary-accent-color: rgb(173, 130, 61);
  --primary-base-color: rgb(197, 159, 97);
  --primary-highlight-color: rgb(224, 183, 117);
  --primary-contrast-color: rgb(241, 206, 149);

  --secondary-base-color: rgb(50, 96, 100);
  --secondary-accent-color: rgb(55, 104, 107);
  --secondary-contrast-color: rgb(55, 136, 140);

  --background-base-color: rgb(30, 21, 29);
  --background-muted-color: rgb(72, 52, 71);
  --background-contrast-color: rgb(237, 228, 236);

  --text-base-color: rgb(236, 213, 173);
  --text-muted-color: rgb(156, 129, 85);
  --text-dull-color: rgb(135, 109, 67);
  --text-contrast-color: var(--background-base-color, black);

  --connect-4-board-highlight-color: rgb(197, 225, 238);

  --brd-muted-color: rgb(57, 41, 55);

  --sea-battle-ship-inner-color: rgb(197, 159, 97);
  --sea-battle-ship-base-color: rgb(59, 57, 53);
  --sea-battle-ship-border-color: rgb(80, 71, 71);
}

.theme-dark-halloween {
  --primary-accent-color: rgb(255, 109, 0);
  --primary-base-color: rgb(255, 133, 0);
  --primary-highlight-color: rgb(255, 158, 0);
  --primary-contrast-color: rgb(255, 215, 0);

  --secondary-base-color: rgb(123, 44, 191);
  --secondary-accent-color: rgb(90, 24, 154);
  --secondary-contrast-color: rgb(60, 9, 108);

  --background-base-color: rgb(36, 0, 70);
  --background-muted-color: rgb(72, 0, 140);
  --background-contrast-color: rgb(221, 191, 250);

  --text-base-color: rgb(221, 191, 250);
  --text-muted-color: rgb(179, 137, 220);
  --text-dull-color: rgb(148, 163, 184);
  --text-contrast-color: var(--background-base-color, black);

  --connect-4-board-highlight-color: rgb(197, 225, 238);

  --brd-muted-color: rgb(74, 44, 102);
}

.theme-dark-green-goblin {
  --primary-accent-color: rgb(32, 139, 58);
  --primary-base-color: rgb(45, 198, 83);
  --primary-highlight-color: rgb(74, 214, 109);
  --primary-contrast-color: rgb(146, 230, 167);

  --secondary-base-color: rgb(139, 57, 210);
  --secondary-accent-color: rgb(90, 24, 154);
  --secondary-contrast-color: rgb(60, 9, 108);

  --background-base-color: rgb(36, 0, 70);
  --background-muted-color: rgb(72, 0, 140);
  --background-contrast-color: rgb(221, 191, 250);

  --text-base-color: rgb(221, 191, 250);
  --text-muted-color: rgb(179, 137, 220);
  --text-dull-color: rgb(148, 163, 184);
  --text-contrast-color: var(--background-base-color, black);

  --connect-4-board-highlight-color: rgb(197, 225, 238);

  --brd-muted-color: rgb(58, 76, 62);
}

.theme-dark-midnight-ember {
  --primary-accent-color: rgb(157, 2, 8);
  --primary-base-color: rgb(208, 76, 0);
  --primary-highlight-color: rgb(220, 47, 2);
  --primary-contrast-color: rgb(232, 93, 4);

  --secondary-base-color: rgb(250, 163, 7);
  --secondary-accent-color: rgb(255, 186, 8);
  --secondary-contrast-color: rgb(253, 206, 88);

  --background-base-color: rgb(33, 32, 32);
  --background-muted-color: rgb(56, 51, 51);
  --background-contrast-color: white;

  --text-base-color: rgb(255, 204, 188);
  --text-muted-color: rgb(218, 150, 144);
  --text-dull-color: rgb(148, 163, 184);
  --text-contrast-color: var(--background-contrast-color, white);

  --connect-4-board-highlight-color: rgb(197, 225, 238);

  --brd-muted-color: rgb(87, 61, 61);

  --sea-battle-ship-inner-color: rgb(146, 81, 73);
  --sea-battle-ship-base-color: rgb(59, 53, 53);
  --sea-battle-ship-border-color: rgb(80, 71, 71);
}

.input-box-transition {
  transition: all 0.2s ease;
}

.input-box-transition.shake {
  animation: shake 0.2s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-0.25rem);
  }

  50% {
    transform: translateX(0.25rem);
  }

  75% {
    transform: translateX(-0.25rem);
  }

  100% {
    transform: translateX(0);
  }
}